@import "tailwindcss";

@source inline("bg-{green,red,yellow}-500");

@tailwind utilities;
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: false;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}