@import "tailwindcss";

@tailwind utilities;
/*todo add the needed theme, vanilla daisyui is breaking the dashboard colors at the moment*/
/*@plugin "daisyui";*/


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}